*{
    margin: 0;
    padding: 0;
}

.img-fluid{
    max-width: 100%;
    height: 100%;
    display: block;
}
body{
    font-size: 14px;
    columns: #333;
    background-color: #fff;
    letter-spacing: 1px;
    text-align: center;
    

}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}
.slides-navigation{
    z-index: 6;
}
.slides-navigation .prev,
.slides-navigation .next{
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev{
    left: 20px;
    background-image: url(../images/icons8-back-to-50\ \(1\).png); 
}

.slides-navigation a.next{
    right: 20px;
    background-image: url(../images/icons8-next-page-50.png);
}

.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
    
}

.titleMessage .heading p{
    color: white;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px; 
}

.titleMessage .heading .main{
    font-size: 50px;
}

.titleMessage .heading .sub{
    font-size: 23px;
}
.button{
    background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

    border: solid 1px rgb(70, 71, 71);
    width: 150px;
    height: 40px;
    color: #000;
    opacity: 0.8;
    border-radius: 80px;
    font-weight: 650;
}

.section{
    padding: 100px 0 100px 0;
    
    

}

.aboutImage{
    max-width: 75%;
}




.inner{
    padding-top: 20px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
}

.header{
    text-align: center;
    color: black;
    padding: 1rem;
    position: relative;
 


}

.header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    

}

.container{
   
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    
    
   
}
.skill-box{
    padding: 3rem;
    color: black;
    cursor: pointer;


}

.skill-box:hover >.skill-title:after, .skill-box:hover > .skill-title:before{
    width: 35px;
}
.skill-box:hover .img{
    transform: translateY(-10px);
}
.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative;
    
}

.skill-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    
    height: 4px;
    width: 35;
    background-color: #2ecc71;
    border-radius: 2px 0 0 2px;
    transition: .5s;
}

.skill-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    
    height: 4px;
    width: 0;
    background-color: #2ecc71;
    border-radius:0 2px 2px 0 ;
    transition: .5s;
}


.img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.img:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    
    height: 90px;
    width: 50%;
    background: white;
    border-radius: 45px 0 0 45px;
}
 
.skill-title h3{
    color: black;
    margin-top: 0.5rem;

}

.skill-icon{
    width: 50px;
    z-index: 2;
}
.owl-dots{
    text-align: center;
   
}
.owl-dot{
    display: inline-block;
    height: 15px !important;
    width: 15px !important;
    background-color: #fff;
    opacity: 0.8;
    border-radius: 50%;
    margin: 50px 5px 0;
    margin-top: -50px;
}




@media screen and (max-width:990px){
    .container{
        grid-template-columns: repeat(2,1fr);
        padding: 2rem 50px;     
    }
}



.squareItem{
    margin-top: 30px;
    position: relative;
}
.squareInnerContainer{
    position: relative;
    padding: 60px 30px 20px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;

}

.squareInnerContainer:before,
.squareInnerContainer:after{
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom :  2px solid #444;
}
.squareInnerContainer:before{
    right: 0px;

}
.squareInnerContainer:after{
    left: 0px;
}

.squareContent h2{
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #ff9f43;
}


.squareContent h3{
    font-size: 13px;
    margin-top: 0px;
    font-weight: 600;
}
.squareIcon{
    position: absolute;
    left: 50%;
    top: -18%;
    width:40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
}

.copyrightSection{
    background-color: #000;
    color: #fff;
    padding: 30px 5px;
}

.copyrightSection p{
    margin: 0px;
}

#navigation{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    padding: 20px 10ox;
    z-index: 100;
    width: 100%;
}

#navigation li{
    padding: 0 10px;
    
}


#navigation li a{
    color: #fff;
    
}

.navbar-brand,
.navbar-brand:hover{
    color: #fff;
}

.navbar-toggler-icon{
    background: url(../images/menu.png);
    background-size: 100%;
}

.fixedNav #navigation{
    position: fixed;
    top: 0;
}

.loader{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.loader .inner{
    width: 100%;
    height: 100%;
    background: url(../images/731.gif) center center no-repeat;
}
#particles-js{
    
  height: 150px ;
}